<button
	class="c-header-toggler c-class-toggler d-lg-none mfe-auto"
	type="button"
	data-target="#sidebar"
	data-class="c-sidebar-show"
>
	<span class="c-header-toggler-icon"></span>
</button>

<button
	class="c-header-toggler c-class-toggler mfs-3 d-md-down-none"
	type="button"
	data-target="#sidebar"
	data-class="c-sidebar-lg-show"
	responsive="true"
>
	<span class="c-header-toggler-icon"></span>
</button>
<!-- <span class="c-header-brand mb-0 h3">Rent-Tracker</span> -->
<a
	style="color: whitesmoke; text-decoration: none; font-size: medium"
	class="c-header-nav ml-auto mr-4"
	href="/logout"
>
	<i class="c-icon c-icon-l cil-exit-to-app"></i>&nbsp;Logout
</a>
