<ul class="c-sidebar-nav ps ps--active-y">
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/"> DASHBOARD</a>
	</li>
	<li class="c-sidebar-nav-title">Components</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/houses"
			><span><i class="c-icon c-icon-m cil-house"></i> Houses</span></a
		>
	</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/apartments"
			><span><i class="c-icon c-icon-m cil-building"></i> Units</span></a
		>
	</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/tenants">
			<div><i class="c-icon c-icon-m cil-people"></i> Tenants</div></a
		>
	</li>
	<li class="c-sidebar-nav-title">Create Components</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/house/create"> Create new house</a>
	</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/apartment/create"> Create new unit</a>
	</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/tenant/create"> Create new tenant</a>
	</li>
</ul>
